BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
UseCRLF: false

Language: Cpp
StatementMacros: ['ASSIGN_ERR', 'CHECK_RET', 'CHECK_ERR', 'CHECK_PTR', 'PRINT_ERR', 'PRINT_TEST_RESULT', 'PRINT_TEST_MSG', 'CHK_ABTRET', 'CHK_ABTERR']
TypenameMacros: []
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None 
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  AfterCaseLabel: false
  AfterFunction: false
  AfterNamespace: false 
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
IndentCaseLabels: true
PointerAlignment: Right
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Always
SpaceBeforeRangeBasedForLoopColon: true