[submodule "argobots"]
	path = argobots
	url = https://github.com/pmodels/argobots.git
[submodule "vol-cache"]
	path = vol-cache
	url = https://github.com/hpc-io/vol-cache.git
[submodule "h5bench"]
	path = h5bench
	url = https://github.com/hpc-io/h5bench.git
