name: linux 

on:
  pull_request:
    branches: [ develop ]

  push:
    branches: [ develop ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'docs/**'
      
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  vol-async:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodule argobots
        run: git submodule update --init --recursive
      
      
      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libtool
          # hdf5
          git clone https://github.com/HDFGroup/hdf5.git --depth=1
          # mpi
          sudo apt-get install libopenmpi-dev
          # zlib
          sudo apt-get install zlib1g-dev 
          # python3
          sudo apt-get install python3
          
      - name: Installation
        run: |
          mydir="$PWD"
          export HDF5_DIR=$mydir/hdf5/install
          export ABT_DIR=$mydir/argobots
          export VOL_DIR=$mydir
          
          mkdir $HDF5_DIR
          # Compile HDF5
          cd hdf5
          export HDF5_LIBTOOL=/usr/bin/libtoolize
          ./autogen.sh
          ./configure --prefix=$HDF5_DIR --enable-parallel --enable-threadsafe --enable-unsupported \
          --disable-tests --disable-hl --disable-fortran --disable-tools --disable-hltools
          make && make install
          
          # Compile Argobots
          cd $ABT_DIR
          ./autogen.sh
          ./configure --prefix=$ABT_DIR
          make && make install
          
          # Compile Asynchronous VOL connector
          cd $VOL_DIR/src
          tail -n 48 Makefile.summit > Makefile
          make
          
      - name: Compile and Test Vol-Async
        run: |
          # Compile vol-async tests
          mydir="$PWD"
          cd $mydir
          cd test

          # Set Environmental Variables
          export H5_DIR=$mydir/hdf5
          export VOL_DIR=$mydir/
          export ABT_DIR=$mydir/argobots
          export ASYNC_DIR=$mydir/src
          export HDF5_DIR=$mydir/hdf5/install
          export LD_LIBRARY_PATH=$VOL_DIR/src:$H5_DIR/install/lib:$ABT_DIR/lib:$LD_LIBRARY_PATH
          export HDF5_PLUGIN_PATH="$VOL_DIR/src"
          export HDF5_VOL_CONNECTOR="async under_vol=0;under_info={}"
          
          # Makefile
          tail -n 47 Makefile.summit > Makefile
          export LD_PRELOAD=$mydir/argobots/lib/libabt.so
          make
          
          date
          # Run serial and parallel tests
          export ABT_THREAD_STACKSIZE=100000
          make check
          date
          
          # Test with async VOL double buffering
          cd ../src
          sed -i "s/CFLAGS =/CFLAGS = -DENABLE_WRITE_MEMCPY=1 /g" ./Makefile
          cat Makefile
          make clean
          make
          cd ../test

          date
          make clean
          make
          export ABT_THREAD_STACKSIZE=100000
          stdbuf -i0 -o0 -e0 make check_serial
          date
